<ion-header>
  <ion-toolbar>
    <ion-title>{{name}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img [src]="imageUrl" id="modal-img"/>
    <ion-card-header>
      <ion-card-subtitle>{{name}}</ion-card-subtitle>
      <ion-card-title>Rating: 5.7 <ion-icon name="star"></ion-icon>{{skill}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
    <ion-button (click)="onBtnClick()" expand="block">Contact</ion-button>
    <ion-button (click)="dismiss()" expand="block">Back</ion-button>
  </ion-card>
</ion-content>
