<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ion-padding app-title">
      WokDay
    </ion-title>
    <ion-item color="primary"> 
      <ion-label>Search for</ion-label>
      <ion-select ok-text="OK" cancel-text="Cancel" [(ngModel)]="category" (ionChange)="showSelected()">
        <ion-select-option value="mechanic">mechanic</ion-select-option>
        <ion-select-option value="plumber">plumber</ion-select-option>
        <ion-select-option value="electrician">electrician</ion-select-option>
        <ion-select-option value="cleaner">cleaner</ion-select-option>
        <ion-select-option value="nanny">nanny</ion-select-option>
        <ion-select-option value="tutor">tutor</ion-select-option>
        <ion-select-option value="carpenter">carpenter</ion-select-option>
        <ion-select-option value="generator tech">generator technician</ion-select-option>
        <ion-select-option value="waste remover">waste disposal</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">WokDay</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="mapId" ></div>
</ion-content>
